body {
  background-image: linear-gradient(to bottom right, rgba(255, 72, 0, 0.774), rgba(0, 140, 255, 0.938));;
  height: 700px;
}


.grid {
    width: 200px; 
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    margin-left: 500px;
    align-items: center;
    /* outline: auto; */
}


.grid div {
    height: 20px; 
    width: 20px;
}

.tetromino {
  background-image: url("./assets/navy_block.png"); 
}

.mini-grid {
  height: 80px; 
  width: 80px; 
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 100px; 
  /* background-color: yellow; */
  border: 5px;
}

.mini-grid div {
  height: 20px; 
  width: 20px; 
}

.container {
  display: flex;
  /* margin-top:100px; */
  
}

.outside {
  background-image: url("./assets/vaporwave-retro-futuristic-background-abstract-laser-grid-tunnel-neon-colors-with-glow-effect-night-sky-with-stars-wallpaper-cyberpunk-party-music-poster-hackathon-meeting_87408-169.jpg");
  background-repeat: no-repeat;
  padding-left: 200px;
}

#start-button {
  margin-left: 500px;
  margin-bottom: 10px;
  /* margin-top: 150px; */

}

.tally {
  margin-left: 500px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.tally2 {
  margin-left: 500px;
  display: flex;
  flex-wrap: wrap;  
}

/*
#level {
  margin-left: 5px;
}

#score {
  margin-left: 5px;
} */

.base-block {
  background-image: url("./assets/blue_block.png");
}

.block {
  background-image: url("./assets/navy_block.png");
}

.vapor {
  background-image:url("./assets/maxresdefault.jpg");
  height: 200px;
  width: auto;
}
