


body {
  background-image: linear-gradient(to bottom right, rgba(255, 72, 0, 0.774), rgba(0, 140, 255, 0.938));;
  height: 605px;
  padding-top: 100px;
}

html {
  cursor: url("./assets/vaporwave-png-5.png"), auto;
  font-family: 'Press Start 2P', cursive;
}


.grid {
    width: 200px; 
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    align-items: center;
    /* outline: auto; */
}


.grid div {
    height: 20px; 
    width: 20px;
}

.tetromino {
  background-image: url("./assets/navy_block.png"); 
}

.mini-grid {
  height: 80px; 
  width: 80px; 
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 100px; 
  /* background-color: yellow; */
  border: 5px;
}

.mini-grid div {
  height: 20px; 
  width: 20px; 
}

.container {
  display: flex;
  /* margin-top:100px; */
  
}

.outside {
  background-image: url("./assets/vaporwave-retro-futuristic-background-abstract-laser-grid-tunnel-neon-colors-with-glow-effect-night-sky-with-stars-wallpaper-cyberpunk-party-music-poster-hackathon-meeting_87408-169.jpg");
  background-repeat: no-repeat;
  margin-left: 375px;
}

.pillar {
  /* background-image: url('./assets/vaporPillar.gif'); */
  float: left;
}

.plant {
  float: right;
  margin-right: 125px;
}

.dolphin {
  float: right;
  /* margin-right: 100px; */
  padding-top: 250px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.relax {
  float:right;
  /* padding-bottom: 100px; */
  margin-right: 100px;
  /* margin-bottom: 100px; */
}

.start-button {
  /* margin-left: 500px;
  margin-bottom: 10px; */
  /* margin-top: 150px; */
  position: relative;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 23px;
  font-size: 10px;
  display: block;
  margin: 30px;
  background: #3fcea3;
  width: 12rem;
  background-image: linear-gradient(to bottom, #6cf6df, #1fd1c2);
  border-radius: 5px;
  padding-bottom: 5px;
  margin-left: 600px;
  cursor: url("./assets/vaporwave-png-5.png"), auto;
  font-family: 'Press Start 2P', cursive;


}




.start-button:before {
  /* background: #f0f0f0; */
  /* background-image: linear-gradient(#d0d0d0, #f0f0f0); */
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  position: absolute;
  content: "";
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -5px;
  z-index: -1;
}

.start-button:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  top: 5px;
}

.start-button:active:before {
  top: -11px;
  bottom: -5px;
  content: "";
}

.start-button:hover {
  background: #f66c7b;
  background-image: linear-gradient(top, #d25068, #f66c7b);
}


.tally {
  margin-left: 530px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  cursor: url("./assets/vaporwave-png-5.png"), auto;
  float: left;
  /* outline: inset; */
  /* background: #f0f0f0; */
  /* background-image: linear-gradient(#81d5e0, #8bafeb); */
  /* border-radius: 5px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff; */
  color: #black;
}

.tally2 {
  margin-left: 750px;
  display: flex;
  flex-wrap: wrap; 
  /* outline: inset;  */
  margin-right: 520px;
  /* background: #f0f0f0;
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
  border-radius: 5px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff; */
  font: press;
  color: black;
}



.base-block {
  background-image: url("./assets/blue_block.png");
}

.block {
  background-image: url("./assets/navy_block.png");
}

.module {
  cursor: url("./assets/vapeSunny.jpg"), auto;
}
